#footer-container {
  width: fit-content;
  margin: 20px auto 20px auto;
}

#footer-container1 {
  padding: 50px;
}
#footer-container2 {
  padding: 0px 0px 25px 30px;
}

hr {
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: #fff;
  transform: rotate(90deg);
  max-width: 100px !important ;
  margin-top: 50px !important ;
}
