.Topcontainer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Topcontainer::before {
  content: "";
  background-image: url("../../Assets/Images/SpiltCoffee.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#home-containerfluid {
  position: relative;
}

#image-container {
  text-align: center;
  max-width: 100%;
  padding: 15% 0% 0% 0%;
}
#home-image {
  max-width: 30%;
}

h2 {
  padding-top: 15px;
}
/*  */
#about-containerfluid {
  padding: 40px;
  background-color: blue;
}
#about-container {
  padding: 128px 32px;
  background-color: blueviolet;
}
#about-row {
  margin: auto;
  height: 690.5px;
  background-color: brown;
}
.Abouttext {
  padding: 0px 16px;
}

.Abouttext h1 {
  margin-bottom: 32px;
}
.Abouttext h4 {
  margin-bottom: 20px;
}
.Abouttext p {
  margin-bottom: 20px;
}
#about-image {
  max-width: 100%;
}
#divider {
  margin: auto;
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: #fff;
  transform: rotate(90deg);
  max-width: 100px !important ;
  margin-top: 20px !important ;
}

#divider2 {
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: #fff;
  max-width: 150px !important ;
}
/*  */
.cusineimage{
  max-width: 100%;
  margin-top: -9rem;
  margin-left: -9rem;
  transform: rotate(45deg);
}

#cusine-image{
  max-width: 100%;
  
  margin-top: -9rem;
 

}
