body{
  color: #000;
}
.Topcontainer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Topcontainer::before {
  content: "";
  background-image: url("../../Assets/Images/SpiltCoffee.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#home-containerfluid {
  position: relative;
}

#image-container {
  text-align: center;
  max-width: 100%;
  padding: 10rem 0rem 2rem 0rem;
}
#home-image {
  max-width: 28%;
}

h2 {
  padding: 15px 0px 20px 0px;
  
}
.home-text{
display: flex;
justify-content: space-between;
  padding-top: 0rem;
  font-weight: 400;
  font-size: 15px
}
/*  */
#about-containerfluid {
  padding: 40px;
  /* background-color: blue; */
}
#about-container {
  padding: 128px 32px;
  /* background-color: blueviolet; */
}
#about-row {
  margin: auto;
  height: 690.5px;
  /* background-color: brown; */
}
.Abouttext {
  padding: 0px 16px;
  margin-top: 9rem;
}

.Abouttext h1 {
  margin-bottom: 32px;
}
.Abouttext h4 {
  margin-bottom: 20px;
}
.Abouttext p {
  margin-bottom: 20px;
}
#about-image {
  max-width: 100%;
}
#divider {
  margin: auto;
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: black;
  transform: rotate(90deg);
  max-width: 100px !important ;
  margin-top: 20px !important ;
}

#divider2 {
  border: none;
  border-top: 2px dotted #000;
  color: #fff;
  background-color: black;
  max-width: 150px !important ;
}
/*  */
#cusine-container{
  padding: 128px 32px;
}
#cusine-row {
  margin: auto;
  height: 690.5px;
}

#cusine-image {
  max-width: 100%;
  max-height: auto;
  margin-top: -9rem;
}
.cusinetext {
  padding: 0px 16px;
}
.cusinetext h1 {
  margin-bottom: 32px;
}
.cusinetext h4 {
  margin-bottom: 20px;
}
.cusinetext p {
  margin-bottom: 20px;
}

/* responsive site// media query */
@media only screen and (max-width: 991px) {
  .home-text{
    flex-direction: column;
   font-size: 14px;
   padding-top: 5rem;
 }
 
 .home-text div{
   margin-top: 0.5rem;
 }
  
  #about-container {
    padding: 0px;
  }
  #about-row{
    height: auto;
  }
  .Abouttext{
    padding: 0px;
    margin-top: 0rem;
  }
  #image-container{
    padding: 0%;
  }
  
  #cusine-image {
    margin-top: 0rem;
  }
  #cusine-row {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
  }

  #divider{
    display: none;
    margin: 0px;
    padding: 0px;
  }
  #divider2 {
    display: none;
  }
}
