#layout-header {
    position: fixed !important;
    transition: 0.5s ease-in-out;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* transition: position 0.5s ease-in-out; */
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    /* visibility: hidden;
    opacity: 0; */
    transition: opacity 0.5s ease-in-out;
}




.menu-modal-header {
    display: none;
}

@media only screen and (max-width: 991px){
    .menu-modal-header {
        display: flex;
        align-items: center;
        padding: 15px
    }
} 